html, body {
  position: relative;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

/*Navbar styling*/

.navbar {
  position: relative;
  height: 50px;
  text-align: right;
  top: 4%;
}

.links {
  font-family: 'Montserrat', sans-serif;
  text-decoration: none;
  color: #484a47;
  border-top: 2px solid transparent;
  border-bottom: 2px solid transparent;
  transition: border-color 0.5s ease-in;
  margin-right: 10px;
}

.links:hover {
  color: #ef9d6e;
}

.links:active {
  color: #ef9d6e;
  border-color: #ef9d6e;
}

/*End of navbar styling*/

main {
  position: relative;
  height: 100%;
}

h2 {
  font-size: 22px;
}

/*Start of first container styling*/

.first-container {
  position: relative;
  background: url("../images/plant-large.jpg") no-repeat center;
  background-size: cover;
  height: 85%;
}

.name {
  font-family: 'Inconsolata', monospace;
  position: relative;
  top: 33%;
  letter-spacing: .18em;
  margin-left: 10px;
  color: #ef9d6e;
  font-size: 25px;
}

.job {
  font-family: 'Inconsolata', monospace;
  position: relative;
  top: 32%;
  color: #484a47;
  font-size: 20px;
  margin-left: 10px;
}

/*End of styling first container*/

/*Start of styling second container*/

.second-container {
  position: relative;
  top: 10%;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}

.about-me-title {
  color: #484a47;
}

.personal-info {
  color: #484a47;
  font-size: 18px;
  margin-left: 5px;
  margin-right: 5px;
}

span {
  color: #ef9d6e;
}

/*End of second-container styling

/*Start of third-container styling*/

.third-container {
  position: relative;
  top: 20%;
  text-align: center;
  background-color: #ece8e5;
  padding-top: 10px;
  padding-bottom: 40px;
}

.portfolio-title {
  font-family: 'Montserrat', sans-serif;
  color: #484a47;
}

img {
  width: 100%;
  position: block;
}

.img-container {
  position: relative;
  box-sizing: border-box;
}

.img-container .text-container {
  position: absolute;
  opacity: 0;
  font-family: 'Inconsolata', monospace;
  text-align: center;
  left: 0;
  right: 0;
  bottom: 0;
  background: #484a47;
  transition: all 1s ease-in-out 0s;
  -moz-transition: all 1s ease-in-out 0s;
  -webkit-transition: all 1s ease-in-out 0s;
  -ms-transition: all 1s ease-in-out 0s;
}

.project-title {
  color: white;
  font-size: 18px;
}

.img-container ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  padding-bottom: 5px;
}

.img-container li {
  color: white;
  display: inline;
}

/* .img-container:hover img {
  transition: all 2s ease;
  -webkit-filter: blur(5px) grayscale(100%);
          filter: blur(5px) grayscale(100%);
} */

.img-container:hover .text-container {
  opacity: .8;
}
/*End of third container*/

/*Start of footer styling*/

footer {
  position: relative;
  font-family: 'Montserrat', sans-serif;
  top: 20%;
  width: 100%;
  text-align: center;
  padding-top: 2px;
  padding-bottom: 5px;
  color: #484a47;
  background: #ef9d6e;
}

footer p {
  font-size: 16px;
}

.email {
  color: white;
}

.fab {
  margin: 8px;
  color: #484a47;
}

.fab:active {
  color: white;
}

/*Media queries*/

@media screen and (min-width: 600px) {
  h2 {
    font-size: 27px;
  }
  .navbar {
    top: 3%;
  }
  .links {
    margin-right: 15px;
    font-size: 20px;
  }
  .name {
    font-size: 35px;
  }
  .job {
    font-size: 26px;
  }
  .personal-info {
    font-size: 24px;
  }
  .project-title {
    font-size: 25px;
  }
  .img-container li {
    font-size: 18px;
  }
}

@media screen and (min-width: 1000px) {
  h2 {
    font-size: 25px;
  }
  .personal-info {
    font-size: 20px;
  }
  .images {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  img {
    width: 100%;
  }
  .img-container {
    width: 27%;
  }
  .project-title {
    font-size: 22px;
  }
  .img-container ul {
    padding-bottom: 10px;
  }
}
