*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  box-sizing: border-box;
  line-height: 1.7;
  font-weight: 400;
  color: #484a47;
  font-family: 'Montserrat', sans-serif;
}

/*Navbar styling*/
.header {
  height: 10vh;
  font-size: 1.9rem;
  text-align: right;
}

.burger {
  display: none;
}

.navigation {
  position: relative;
  top: 3.5vh;
}

.nav-btn {
  text-decoration: none;
  color: #484a47;
  margin-right: 1.5rem;
  border-top: 2px solid transparent;
  border-bottom: 2px solid transparent;
  transition: border-color 0.4s;
}

.nav-btn:hover {
  color: #ef9d6e;
}

.nav-btn:active {
  color: #ef9d6e;
  border-color: #ef9d6e;
}


/* Home styling*/
.home {
  background-image: url(../images/plant-large.jpg);
  background-size: cover;
  background-position: center;
  height: 85vh;
}

.heading-primary {
  position: relative;
  top: 25vh;
}

.heading-primary-name {
  display: block;
  font-size: 5rem;
  font-family: 'Inconsolata', monospace;
  color: #ef9d6e;
  letter-spacing: 1.5rem;
  font-weight: 500;
  padding-left: 1.5rem;
  animation: showName 2s ease;
}

.heading-primary-job {
  display: block;
  font-size: 3rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  letter-spacing: .8rem;
  padding-left: 5rem;
  animation: showJob 2s ease;
}

@keyframes showName {
  0% {
    opacity: 0;
    transform: translateY(-3rem);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes showJob {
  0% {
    opacity: 0;
    transform: translateY(3rem);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/*About section styling*/
.about {
  padding: 10rem 0;
}

.about-text-box {
  text-align: center;
  width: 100%;
}

.about-heading {
  font-size: 3rem;
  margin-bottom: 1rem;
}

.about-personal-info {
  font-size: 1.8rem;
}

.about-personal-info__name {
  color: #ef9d6e;
}

.cv-button {
  border: 2px solid #ef9d6e;
  margin-top: 3rem;
  text-decoration: none;
  text-transform: uppercase;
  display: inline-block;
  color: #ef9d6e;
  font-size: 1.6rem;
  font-weight: 600;
  letter-spacing: .1rem;
  padding: 1.5rem 4rem;
  border-radius: 10rem;
  transition: background-color 1s;
}

.cv-button:hover {
  transform: translateY(-3px);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
  background-color: #ef9d6e;
  color: white;
}

.cv-button:active {
  transform: translateY(-1px);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
}

/*Portfolio styling*/
.portfolio{
  background-color: #ece8e5;
  text-align: center;
  padding: 10rem 0;
}

.portfolio h2 {
  font-size: 3rem;
  padding-bottom: 1rem;
}

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.content{
	position: relative;
	display: inline-block;
  overflow: hidden;
}

.content img {
  display: block;
  width: 48rem;
}

.content-details {
	opacity: 0;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
  width: 100%;
	background: rgba(0, 0, 0, 0.6);
	color: #fff;
	padding: 15px;
	-moz-transition: all 0.8s ease-in-out 0s;
	-webkit-transition: all 0.8s ease-in-out 0s;
	-ms-transition: all 0.8s ease-in-out 0s;
	transition: all .8s ease-in-out 0s;
}

.content:active .content-details,
.content:hover .content-details {
  opacity: 1;
}

.content-text {
  text-align: center;
	font-size: 1.8rem;
	display: inline-block;
	position: absolute;
	top: 50%;
	left: 50%;
	-moz-transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

.content-text p {
  text-transform: uppercase;
  margin-bottom: 8px;
}

.project-btn {
  font-size: 1.8rem;
  font-weight: 600;
  letter-spacing: .3px;
  border-radius: 2px;
  color: #ef9d6e;
  text-decoration: none;
  border-bottom: 2px solid #ef9d6e;
}

.project-btn:hover {
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
}

.arrow-box {
  position: relative;
}

.arrow-btn {
  position: absolute;
  right: 3rem;
  bottom: -6rem;
  color: #ef9d6e;
  transition: transform .2s;
}

.arrow-btn:active {
  transform: scaleX(1.1) scaleY(1.1);
}

.arrow {
 font-size: 6rem;
}

/*Footer styling*/
.footer {
  background-color: #484a47;
  font-family: 'Montserrat', sans-serif;
}

.footer-text-box {
  text-align: center;
  padding: 2rem 0;
  color: #fff;
}

.footer-text-box h2 {
  font-size: 3rem;
}

.footer-text-box p {
  font-size: 1.8rem;
  margin-bottom: 8px;
}

.email {
  color: #ef9d6e;
}

.footer-text-box a {
  color: #fff;
  transition: color .5s;
  margin-right: 2rem;
  transition: color .2s;
}

.footer-text-box a:hover, .footer-text-box a:active {
  color: #ef9d6e;
}

.burger-box {
  display: none;
}
/*Media Queries*/

/*1200px*/
@media screen and (max-width: 75em) {
  html {
    font-size: 56.25%;
  }
}

/*900px*/
@media screen and (max-width: 56.25em) {
  html {
    font-size: 50%;
  }
}

/*600px*/
@media screen and (max-width: 37.5em) {
  html {
    font-size: 50%;
  }
  .navigation {
    display: none;
  }

  .burger {
    display: block;
    position: relative;
  }

  .close {
    position: absolute;
    top: 5px;
    right: 8px;
    color: #fff;
  }

  .burger-label {
    position: absolute;
    top: 3vh;
    right: 1.5rem;
    transition: color .2s;
    color: #484a47;
  }

  .nav-checkbox {
    display: none;
  }

  .nav-checkbox:checked ~ .burger-box {
    display: block;
    position: absolute;
    top: 10vh;
    right: 2rem;
    z-index: 2000;
    height: auto;
    width: 50%;
    font-size: 2.5rem;
    padding: 8rem 5rem; 
    background-color: #ef9d6e;
    opacity: 0.9;
    animation: showNav .8s ease;
  }

  @keyframes showNav {
    0% {
      opacity: 0;
      transform: translateX(20rem);
    }
  
    100% {
      opacity: 0.9;
      transform: translateX(0);
    }
  }

  .burger-box ul {
    list-style-type: none;
    text-align: center;
    
  }

  .burger-box li {
    padding: 2rem 0;
    transition: transform .1s;
  }

  .burger-box li a {
    color: #fff;
    text-decoration: none;
  }

  .burger-box li:active {
    transform: scale(1.3);
  }

  .heading-primary {
    top: 23vh;
  }

  .heading-primary-name {
    font-size: 4rem;
    letter-spacing: .5rem;
    padding-left: 1.5rem;
  }
  
  .heading-primary-job {
    font-size: 2.5rem;
    letter-spacing: .2rem;
    padding-left: 1.5rem;
  }

  .about {
    padding: 10rem 5rem;
  }

  .container {
    padding: 0 6rem;
  }

  .content img {
    display: block;
    width: 100%;
  }

  .content img:not(:last-child) {
    padding-bottom: 1.5rem;
  }

  .arrow {
    font-size: 5rem;
   }
}

/*400px*/
@media screen and (max-width: 25em) {
  .content-text {
    font-size: 1.4rem;
  }
  
  .content-text p {
    margin-bottom: 3px;
  }
  
  .project-btn {
    font-size: 1.4rem;
  }
}

